services:
  db:
    image: pgvector/pgvector:pg16
    environment:
      POSTGRES_USER: huynh
      POSTGRES_PASSWORD: Huynh2004
      POSTGRES_DB: elearn
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
